html, body {
  padding: 0;
  margin: 0;
}

#header {
  padding: 10px;
  margin: 0;
  text-align: center;
  background: #91b98f;
}

#main {
  padding: 15px;
}

#map {
  float: left;
  width: 800px;
  height: 500px;
  border: 1px solid #000;
}

#info {
  float: left;
  padding: 10px;
  font-size: 2em;
}
#info * {
  padding: 10px;
  margin: 0;
}
